TIDBYT_DEVICE_ID=odiously-intrigued-untouched-blesbok-d89
TIDBYT_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjY1YzFhMmUzNzJjZjljMTQ1MTQyNzk5ODZhMzYyNmQ1Y2QzNTI0N2IiLCJ0eXAiOiJKV1QifQ.eyJhdWQiOiJodHRwczovL2FwaS50aWRieXQuY29tIiwiZXhwIjozMjUxMjE5NDAxLCJpYXQiOjE2NzQ0MTk0MDEsImlzcyI6Imh0dHBzOi8vYXBpLnRpZGJ5dC5jb20iLCJzdWIiOiJsekFlTkJ0NThDTWRLTGV6dWQ2bzNyTlZ5cUIyIiwic2NvcGUiOiJkZXZpY2UiLCJkZXZpY2UiOiJvZGlvdXNseS1pbnRyaWd1ZWQtdW50b3VjaGVkLWJsZXNib2stZDg5In0.04D4Pw2qCKMW9z9SNe9ZElFecZS6DorFaKIiPGrUOtfVpGw25GSxVwAVq9rDRnsr6evGkIpXOEl9idYlR2TbFQ